* {
	margin: 0;
	padding: 0;
}
html {
	height: 0;
	min-height: 100%;
}

body {
	font: normal 16px/20px Consolas, Tahoma, Verdana, Arial, sans-serif;
	min-width: 600px;
	max-width: 1480px;
	margin: 0 auto;
}

/* Header
-----------------------------------------------------------------------------*/
@font-face {
    font-family: ChelseaMarket-Regular;
    src: url(fonts/ChelseaMarket-Regular.ttf);
   }
@font-face {
    font-family: telegrafico;
    src: url(fonts/telegrafico.ttf);
   }
@font-face {
    font-family: Myriad;
    src: url(fonts/MyriadPro-Regular.otf);
   }
.header-line {
	height: 79px;
	background: linear-gradient(to top, #f44620, #fa592b);
	box-shadow: inset 0 0 50px -30px ;
}
#head{
	display: flex;
	max-width: 940px;
	height: 79px;
	margin: 0 auto;
	justify-content: space-between;
}
.homelink {
	text-decoration: none;
}
.homelink *:hover {
	text-shadow: 2px 2px 4px black;
	cursor: pointer;
}
#logo-png {
	margin-top: 16px;
}
#logo-text{
	display: inline;
	position: relative;
	bottom: 9px;
	left: -4px;
	font: 28px ChelseaMarket-Regular;
	color: white;
}
#logo-text-2{
	margin-left: 159px;
	margin-top: -27px;
	line-height: 1px;
	font: 13px telegrafico;
	color: white;
}


#cart-menu-wrapper{
	display: flex;
	justify-content: space-between;
	height: 100%;
	
}
#head-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	float: right;
	height: 100%;
	min-width: 330px;
	margin-right: 10px;
	list-style: none;
}

#head-menu li{
	display: inline-block;
	font: 13px telegrafico;
	color: white;
}
#head-menu li:hover{ 
	text-shadow: 2px 2px 4px black;
	cursor: pointer;
}

#cart{
	position: relative;
	display: inline-block;
	float: right;
	margin: 23px 17px 0 0;
}

#cart img:hover{
	box-shadow: 2px 2px 2px -2px black;
}
#cart span:hover{
	text-shadow: 2px 2px 4px black;
}
#cart-bubble{
	display: block;
	height: 18px;
	width: 18px;
	border-radius: 50%;
	border: 1px solid #e24a26;
	color: white;
	font: 14px Myriad;
	line-height	: 18px;
	text-align: center;
	position: absolute;
	margin: -8px 0 0 23px;
	float: right;
	background: linear-gradient(to top, #fc2b01, #f54718);
	box-shadow: 0px 0px 1px 0px #cb2c0e;
}

/* nav
--------------------------------------------------------*/
@font-face {
    font-family: TerminalDosis-Book;
    src: url(fonts/TerminalDosis-Book.ttf);
   }
nav{
	height: 66px;
	background: url(images/bg_nav.jpg) repeat-x;
	border-bottom: 4px solid #f1e9cf;
}
#nav{
	list-style: none;
	max-width: 940px;
	min-width: 600px;
	height: 100%;
	margin: 0 auto;
	font: 16px/16px TerminalDosis-Book;
	display: flex;
}
#nav > li{
	position: relative;
	flex: 1;
}
#nav > li:first-child {
	flex: 0 1; 
	margin: 0;
}
#nav > li:nth-child(3){
	flex: 1.5; 
}
.nav_link{
	color: #7d7253;
	height: 66px;
	display: flex;
	text-align: center;
	text-decoration: none;
	align-items: center;
	justify-content: center;
}
#nav > li:hover{
	background: linear-gradient(to top, #fbf2d3, #f0e4b8);
	cursor: pointer;
}
#nav li:hover ul{
	display: flex;
	flex-direction: column;
	display: block;
	z-index: 100;
}

.nav-drop{
	position: absolute;
	background: #fbf2d3;
	list-style: none;
	min-width: 100%;
	display: none;
}
.nav-drop li{
	margin: 0 5% 0 5%;
}
.nav-drop a{
	display: block;
	text-decoration: none;
	height: 20px;
	padding: 0 5% 0 8%;
	margin-bottom: 5px;
	border-radius: 10px;
	font: 12px/20px TerminalDosis-Book;
	color: #7d7253;
}
.nav-drop a:hover{
	color: white;
	background: #f54922;
}

#welcome-line{
	height: 60px;
	background: linear-gradient(to top, #f9f6f2, #f8f5f1);
	text-align: center;
	border-bottom: 5px solid #f5f5f5;
}
#search-form{
	max-width: 940px;
	display: flex;
	margin: 0 auto;
	height: 100%;
	align-items: center;
}
#welcome{
	color: #a7a49c;
	font: 14px TerminalDosis-Book;
	font-style: oblique;
	margin-right: auto;
}
#search{
	width: 156px;
	height: 25px;
	border-radius: 4px;
	border: 0;
	border-top: 1px solid #dedede;
	border-left: 1px solid #e0e0e0;
	background: url(images/lens.png) no-repeat 160px 6px white;
	font: 12px TerminalDosis-Book;
	color: #4c4c4c;
	padding: 0 13px 0 11px;    
}

#dropdown{
	margin: 0 14px 0 0;
	width: 134px;
	height: 25px;
	overflow: hidden;
    background: url(images/dropdown_arrow.png) no-repeat right white;
	border-radius: 4px;
	border-top: 1px solid #dedede;
	border-left: 1px solid #e0e0e0;
}
#currency{
	width: 134px;
	margin: 0;
	border: 0;
	font: 12px TerminalDosis-Book;
	color: #4c4c4c;
	padding: 3.5px 0px 0 11px;
	background: transparent;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

}
#currency::-ms-expand {
display: none;
}
.social{
	margin-right: 9px;
	list-style: none;
	height: 10px;
	flex: none;
}

.social li{
	height: 100%;
	width: 18px;
	float: right;
	background: url(images/social_icons.png) 0 0 no-repeat;
}
.social li:nth-child(1)  {
	background-position: -54px 0px;
}
.social li:nth-child(1):hover  {
	background-position: -54px -10px;
}

.social li:nth-child(2)  {
	background-position: -36px 0px;
	margin-right: 3px;
}
.social li:nth-child(2):hover  {
	background-position: -36px -10px;
}

.social li:nth-child(3)  {
	background-position: -18px 0px;
	margin-right: 3px;
}
.social li:nth-child(3):hover  {
	background-position: -18px -10px;
}

.social li:nth-child(4)  {
	background-position: 0px 0px;
	margin-right: 3px;
}
.social li:nth-child(4):hover  {
	background-position: 0px -10px;
}

.social li a{
	background: transparent;
	display: block;
	height: 100%;
}

/* Content
-----------------------------------------------------------------------------*/
.content {
	position: relative;
	max-width: 1000px;/*940px;*/
	min-width: 600px;
	min-height: 100%;
	margin: 0 auto;
}
.content >*{
	margin-left: 30px;
	margin-right: 30px;
}

#slider{
	overflow: hidden;
	margin-bottom: 45px;
}
#slider > ul li:not(:nth-child(1)){
	display: none;
}
#slider ul{
	list-style: none;
}
#slider img{
	display: block;
	width: 100%;
}

#slide_ruler{
	height: 65px;
	width: 100%;
	background: linear-gradient(to right, #91d2d0, #9bd7d5);
	border-bottom: 5px solid #91cdcb;
}
#slide_ruler ul{
	height: 100%;
	margin-left: 2.8%;
	float: left;
}
#slide_ruler ul:before {     
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
#slide_ruler li{
	display: inline-block;
	height: 6px;
	width: 6px;
	border: 2px solid white;
	border-radius: 50%;
	margin-right: 6px;
}
#slide_ruler li:hover{
	cursor: pointer;
}

#slide_ruler span{
	float: right;
	font: 12pt/12pt TerminalDosis-Book;
	height: 100%;
}

#slide_ruler span:before {     
	content: "";
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.purchase {
	float: right;
	height: 100%;
	margin-left: 13px;
	margin-right: 2.8%;
}

.purchase:before {
	content: '';
	display: inline-block;
	height: 100%;
	width: 0;
	vertical-align: middle;
}

.purchase  button {
	font: 14px/14px telegrafico;
	height: 50%;
	background: linear-gradient(to top, #8cc7c5, #9fdcda);
	width: 79px;
	border: 1px solid #79c3c1;
	border-radius: 3px;
	text-shadow: -1px -1px 1px  #63b9b6;
	color: white;
	box-shadow: inset 0px 1px 1px 1px #beecea;
}
.purchase  button:hover{
	cursor: pointer;
	border-color: #e76e4c;
	background: linear-gradient(to top, #e84621, #fd5f37);
	box-shadow: inset 0px 1px 1px 1px #fe7f4c;
	text-shadow: -1px -1px 1px  #9f4d2a;
}

.featured{
	height: 10px;
	overflow: hidden;
	margin-top: 10px;
}
.featured span{
	float: left;
	font: 14pt/5pt telegrafico;
	vertical-align: bottom;
}
.featured ul{
	float: right;
	width: calc(100% - 87px);
	list-style: none;
}
.featured li{
	display: block;
	height: 2px;
	border-top: 1px solid #ece9e5;
}
.featured li:last-child{
	border-bottom: 1px solid #ece9e5;
}

.products{
	list-style: none;
	margin-top: 40px;
	margin-bottom: 40px;
	display: flex;
	justify-content: space-between;
}
  
.products > li{
	width: calc(23.4% - 2px);
	border: 1px solid #bcbcbc;
	border-radius: 3px;
	background: linear-gradient(to top, #d5d5d5, #e8e8e8);
	box-shadow: inset 0px 1px 1px 1px white;
	display: inline-block;
	vertical-align: top;
}
.products > li:not(:nth-child(1)){
	margin-left: 3px;
}
.products li > img{
	display: block;
	margin: 3.2%;
	width: 93.6%;
	box-shadow: 1px 1px 1px 0px white;
}
.products li > p{
	margin-left: 8px;
	font: 16px/16px TerminalDosis-Book;
	line-height: 1.4;
}

.add_to_cart{
	display: block;
	height: 30px;
	width: 100%;
	margin-top: 16px;
	margin-bottom: 7px;
}
.add_to_cart button{
	font: 13px/13px TerminalDosis-Book;
	text-align: center;
	height: 100%;
	width: 50%;
	margin-left: 8px;
	background: linear-gradient(to top, #e84621, #fd5f37);
	border: 1px solid #c65e41;
	border-radius: 3px;
	text-shadow: 1px 1px 1px  black;
	color: white;
	box-shadow: inset 0px 1px 1px 0px #fb6033;
}
.add_to_cart button:hover{
	cursor: pointer;
}
.price{
	background: linear-gradient(to top, #cccccc, #e8e8e8);
	display: inline-block;
	line-height: 0;
	float: right;
	border: 1px solid #5b5b5b;
	margin: 1px 7px 0 0;
	box-shadow: 0px 1px 1px 0px white;
}
.price li{
	display: inline-block;
	height: 26px;
	width: 18px;
	font: 16px/16px TerminalDosis-Book;
	float: right;
	text-align: center;
	line-height: 1.5;
	font-weight: 700;
	border-left: 1px solid #5b5b5b;
}
.price li:last-child{
	background: linear-gradient(to top, #454545, #636363);
	border: 0;
	color: white;
}

.shine {
	opacity: 0.8;
	box-shadow: 0px 0px 5px 3px white;
	float: left;
	margin-top: -20px;
	margin-left: 10px;
	width: 36px;
	height: 0px;
}

.brands{
	height: 148px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.brands > ul{
	list-style: none;
	width: 77%;
	display: inline-flex;
	justify-content: space-between;
	
	align-items: center;
}
.brands > img{
	height: 20px;
}
.brands img:hover{
	cursor: pointer;
}
.brands > img:last-child{
	transform: rotate(180deg);
}

.latest_products{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
}
.latest_products> ul {
	width: 940px;
}

.product_arrow_left{
	margin: 0 13px 0 4px;
	width: 13px;
	flex: none;	
}
.product_arrow_right{
	transform: rotate(180deg);
	margin: 0  4px 0 13px;
	width: 13px;
	flex: none;	
}
.product_arrow_left:hover{
	cursor: pointer;
}
.product_arrow_right:hover{
	cursor: pointer;
}

.page_buttons{
	list-style: none;
	display: flex;
	justify-content: space-between;
	width: 279px;
}
.page_buttons li{
	width: 31px;
	height: 28px;
	border: 1px solid #c1c1c1;
	border-radius: 3px;
	background: linear-gradient(to top, #cecece, #d9d9d9);
	box-shadow: inset 0px 1px 1px 0px white; 
	text-shadow: 1px 1px 1px  white;
	display: flex;
	align-items: center;
	justify-content: center;
}
.page_buttons li:hover{
	border-color: #eb704d;
	background: linear-gradient(to top, #e84621, #fd5f37);
	box-shadow: inset 0px 1px 1px 0px #fe7f4c; 
	color: white;
	text-shadow: 1px 1px 1px  black;
	cursor: pointer;
}


@media (max-width: 800px) {
	.nav-drop{
		width: 110%;
	}
}


@media (max-width: 750px) {
	.products > li{
		width: calc(94.4%/3 - 2px);
	}
	.products > li:last-child{
		display: none;
	}
	#logo-text-2{
		margin: 0;
	}
	.nav-drop{
		width: 120%;
	}
	
}
@media (max-width: 650px) {
	.nav-drop{
		width: 130%;
	}
}	






/* Footer
-----------------------------------------------------------------------------*/
.footer {
	min-width: 600px;
	max-width: 1480px;
	margin: 0 auto;
	margin-top: 195px;
}

.sub_footer{
	min-height: 138px;
	background: url(images/bg_subfooter.gif);
	border-bottom: 5px solid #d4ccb0;
}
.sub_footer > ul{
	margin: 0 auto;
	list-style: none;
	max-width: 940px;
	min-width: 600px;
	display: flex;
	justify-content: space-between;
}
.sub_footer > ul li{
	width: 31.3%;
	margin-top: 20px;
}
.sub_footer > ul li img{
	position: absolute;
}
.sub_footer > ul li p{
	display: inline-block;
	width: 90%;
	float: right;
	text-align: justify;
	font: 13px/13px TerminalDosis-Book;
	line-height: 2;
	color: #7d7253;
}
.suspendisse{
	font: 16px/16px telegrafico;
	color: #747272;
}

.sub_footer2{
	min-height: 243px;
	background: url(images/bg_subfooter2.jpg) repeat-x #636363;
	border-bottom: 5px solid #5c5c5c;
}
.sub_footer2 > ul{
	margin: 0 auto;
	list-style: none;
	max-width: 940px;
	min-width: 600px;
	display: flex;
	justify-content: space-between;
}
.sub_footer2 > ul >li{
	width: 19%;
	margin-top: 23px;
}
.sub_footer2 > ul >li > p{
	display: inline-block;
	width: 90%;
	text-align: justify;
	font: 13px/13px TerminalDosis-Book;
	line-height: 2;
	color: #c9c9c9;
}
.footer_h1{
	font: 16px/16px telegrafico;
	color: white;
}
.inner_ul{
	display: block;
	list-style: none;
	font: 13px/13px TerminalDosis-Book;
	line-height: 2;
	color: #c9c9c9;
}
.inner_ul li:hover{
	cursor: pointer;
}

.sub_footer3{
	height: 66px;
	background: linear-gradient(to top, #4f4f4f, #494949);
	border-bottom: 1px solid #636363;
}
.sub_footer3 div{
	height: 100%;
	max-width: 940px;
	min-width: 600px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font: 13px/13px telegrafico;
	color: #848484;
}

