* {
	margin: 0;
	padding: 0;
}
html {
	height: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	font: normal 16px/20px Consolas, Tahoma, Verdana, Arial, sans-serif;
	height: 100%;
	background: #eee0c3
}
.wrapper {
	min-width: 600px;
	max-width: 1480px;
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	
		
}


/* Header
-----------------------------------------------------------------------------*/
div#head{
	width: 940px;
	height: 79px;
	margin: 0 auto;
	/*background: blue;*/
}
.header-line {
	height: 79px;
	background: linear-gradient(to top, #f44620, #fa592b);
	box-shadow: inset 0 0 50px -30px ;
	border-bottom: 1px solid black;
}
img#logo-png{
	margin-top: 16px;
}
@font-face {
    font-family: ChelseaMarket-Regular;
    src: url(fonts/ChelseaMarket-Regular.ttf);
   }
@font-face {
    font-family: telegrafico;
    src: url(fonts/telegrafico.ttf);
   }
p#logo-text{
	display: inline;
	position: absolute;
	margin: 19px 0 0 7px;
	font: 28px ChelseaMarket-Regular;
	color: white;
}
p#logo-text-2{
	display: inline;
	position: absolute;
	margin: 36px 0 0 131px;
	font: 13px telegrafico;
	color: white;
}

p#head-menu {
	float: right;
	margin: 30px 11px 0 0;
}
a.head-menu{
	font: 13px telegrafico;
	margin-right: 7px;
	color: white;
	text-decoration: none;
}
a.head-menu:hover, a.homelink:hover{
	text-shadow: 2px 2px 4px black;
}

a#cart{
	float: right;
	margin: 23px 7px 0 0;
}

a#cart img:hover{
	box-shadow: 2px 2px 2px -2px black;
}
a#cart span:hover{
	text-shadow: 2px 2px 4px black;
}
span#cart-bubble{
	display: block;
	height: 18px;
	width: 18px;
	border-radius: 50%;
	border: 1px solid #e24a26;
	color: white;
	font: 16px telegrafico;
	line-height	: 18px;
	text-align: center;
	position: absolute;
	margin: -7px 0 0 23px;
	background: linear-gradient(to top, #fc2b01, #f54718);
	box-shadow: 0px 0px 1px 0px #cb2c0e;
}


@font-face {
    font-family: TerminalDosis-Book;
    src: url(fonts/TerminalDosis-Book.ttf);
   }
nav{
	height: 65px;
	background: url(images/bg2.jpg) repeat-x;
}
ul#nav{
	width: 940px;
	height: inherit;
	margin: 0 auto;
	font: 16px/16px TerminalDosis-Book;
}
ul#nav > li{
	position: relative;
	padding: 24px 20px 0 20px;
	height: 40px;
	list-style: none;
	display: inline-block;
}
ul#nav > li:first-child{
	padding: 22px 0 0 0;
	height: 42px;
}
a.nav{
	text-decoration: none;
	display: block;
	height: 100%;
	width: 100%;
	color: #7d7253;
}
ul#nav > li:hover{
	background: linear-gradient(to top, #fbf2d3, #f0e4b8);
}
ul#nav li:hover ul{
	position: absolute;
	display: block;
	z-index: 100;
}

ul.nav-drop{
	position: absolute;
	margin-left: -20px;
	top: 64px;
	width: 100%;
	background: #fbf2d3;
	display: none;
}
ul.nav-drop li{
	list-style: none;
	padding-top: 3px;

}
ul.nav-drop a{
	display: block;
	height: 20px;
	border-radius: 10px;
	text-decoration: none;
	font: 12px/20px TerminalDosis-Book;
	color: #7d7253;
	padding-left: 20px;
}
ul.nav-drop a:hover{
	color: white !important;
	background: #f54922;
	
}


div#line-3 {
	height: 4px;
	background: #f1e9cf;
	border-top: 1px solid black;
}
div#line-4{
	height: 65px;
	background: linear-gradient(to top, #f9f6f2, #f8f5f1);
	text-align: center;
	border-bottom: 5px solid #f5f5f5;
}
form#search-form{
	width: 940px;
	margin: 0 auto;
	/*background: green;*/
	height: 100%;
}
p#welcome{
	float: left;
	color: #a7a49c;
	font: 14px TerminalDosis-Book;
	font-style: oblique;
	margin-top: 19px;
}
input#search{
	float: right;
	width: 156px;
	height: 25px;
	margin-top: 17px;
	border-radius: 4px;
	border: 0;
	border-top: 1px solid #dedede;
	border-left: 1px solid #e0e0e0;
	background: url(images/lens.png) no-repeat 160px 6px white;
	font: 12px TerminalDosis-Book;
	color: #4c4c4c;
	padding: 0 13px 0 11px;    
}

div#dropdown{
	float: right;
	margin: 17px 14px 0 0;
	width: 134px;
	height: 25px;
	overflow: hidden;
    background: url(images/dropdown_arrow.png) no-repeat right white;
	border-radius: 4px;
	border-top: 1px solid #dedede;
	border-left: 1px solid #e0e0e0;
}
select#currency{
	width: 154px;
	margin: 0;
	border: 0;
	font: 12px TerminalDosis-Book;
	color: #4c4c4c;
	padding: 3.5px 0px 0 11px;
	background: transparent;
}

ul.social{
	float: right;
	margin-top: 25px;
	margin-right: 9px;
	list-style: none;
	width: 72px;
	height: 10px;
}
ul.social li:nth-child(1)  {
	float: right;
	background: url(images/social_icons.png) no-repeat -57px 0px;
	width: 18px;
	height: 10px;
}
ul.social li:nth-child(2)  {
	float: right;
	background: url(images/social_icons.png) no-repeat -36px 0px;
	width: 15px;
	margin-right: 3px;
	height: 10px;
}
ul.social li:nth-child(3)  {
	float: right;
	background: url(images/social_icons.png) no-repeat -18px 0px;
	width: 15px;
	margin-right: 3px;
	height: 10px;
}
ul.social li:nth-child(4)  {
	float: right;
	background: url(images/social_icons.png) no-repeat 0px 0px;
	width: 15px;
	margin-right: 3px;
	height: 10px;
}
ul.social li a{
	background: transparent;
	display: block;
	height: 100%;
}









p.logo{
	width: 200px;
	height: 3em;
	margin-left: 2.5%;
	margin-top: 20px;
	background: #f79d2f;
	position: relative;
	text-align: center;
	

}
.logo-text {
	color: #155d73;
	font-size: 1.5em;
	line-height: 0.5em;
	vertical-align:middle;

}
/* Content
-----------------------------------------------------------------------------*/
main.content {
	padding-left: 1%;
	position: relative;
	overflow: auto;
	margin-left: 25%;
	float: top;
	min-height: 100%;
	border: 5px solid #c93a0e;
	border-radius: 1em;
	
}


div.shortcuts-wrap {
position: relative;
background: white;
overflow: auto;
}

li.shortcut {
list-style: none outside none;
position: relative;
float: left;
margin-right: 1%;
margin-bottom: 1%;
padding-top: 20%;
background: green;
}

@media (min-width: 900px) {
	li.shortcut {
		width: 32%;
		margin-right: 1.33333%;
	}
}
@media (max-width: 900px) {
	li.shortcut {
		width: 49%;
		margin-right: 1%;
	}
}

/* Left Sidebar
-----------------------------------------------------------------------------*/
aside.left-sidebar {
	float: left;
	width: 24%;
	height: 100%;
	position: relative;
	padding-left: 1%;
	border: 5px solid #3e9fb0;
	border-radius: 1em;
	
	
}
aside ul {
	margin-bottom: 0.3rem;
	color: #155d73;
	list-style: none outside none;
	font-size: 1.5rem;
	
}
aside ul li{
	padding-top: 1.2rem;
}
aside ul ul {
	color: inherit;
	list-style: circle outside;
	padding-left: 2rem;
	font-size: 1.3rem;
	
	
}
aside li li {
	padding-top: 0.3rem;
}

aside li a{
	text-decoration: none;
	padding-right: 0%;
	display: block;
	border: 1px solid transparent;
}

aside li a:hover{
	text-shadow: 2px 2px 4px rgba(0, 141, 150, 1); /*http://css3gen.com/text-shadow/*/
	border: 1px solid #3e9fb0;
	border-radius: 5px;
}






/* Footer
-----------------------------------------------------------------------------*/
.footer {
	margin: auto;
	min-width: 600px;
	max-width: 1200px;
	height: 100px;
	background: #BFF08E;
	position: relative;
	border-radius: 1em;
}